<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> form base model</h3>
    <form action="">
        name:<input type="text" name="name"  placeholder="enter name">
        email:<input type="email" name="email",placeholder="enter mail">
        password:<input type="password" name="password" ,placeholder="enter password" >
        <button>  enter </button>
    </form>
</body>
</html>