{% extends 'base.html' %}

{% block title %}
Reset Your Password
{% endblock %}

{% block content %}
<style>
    body{
        background-color: aliceblue;
    }
    .hero {
        padding: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
    }
    .card {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 30px;
        width: 100%;
        max-width: 600px;
        color: #333;
        text-align: left; /* Align text to the left */
    }
    h1 {
        font-size: 28px;
        color: #333;
        margin-bottom: 20px;
    }
    p {
        color: #555;
        font-size: 16px;
        margin-bottom: 20px;
    }
</style>

<section id="hero" class="hero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <div class="card" data-aos="fade-down">
                    <h1>Reset your password</h1>
                    <p>We've emailed you instructions for setting your password.</p>
                    <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
